<!DOCTYPE html>
<html>
  <head>
    <title>Chatterbox</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chatroom.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  </head>
  <body>
  	<center>
  		<h1>Welcome to Chatterbox!</h1>
  		<div id="messages">
  			<ul id="messages-list"></ul>
  		</div>
  		<br>
  			<label id="message-label" for="message"></label>
        <input type="text" id="message">
  			<button onclick="sendMessage()" id="sendMessage">Send</button>
  	</center>
  </body>
</html>
    