<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChatLingual</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/jscolor.js"></script>
    <script src="/js/welcome.js"></script>
    <link rel="icon" type="image/x-icon" href="/img/flavicon-rounded.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Atomic+Age" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  </head>
  <script>
    $(document).ready(function() {
      var error_msg = "<%= error_msg %>";
      var field = "<%= field %>"
      if (error_msg) {
        $("#login-errors").addClass("alert")
        $("#login-errors").addClass("alert-danger")
        $("#login-errors").html(error_msg)
        $("#login-errors").css("color", "#a94442")
        $("#login-errors").css("font-size", "14px")
        $("#" + field + "-form-group").addClass("has-error")
        $("#create-chatroom-btn").css("margin-bottom", "15px")
        $("#nickname-input").val("<%= nickname %>")
        console.log(error_msg)
      }
    })
  </script>
  <body>
    <div class="background"></div>
    <div class="overlay"></div>
    <div class="jumbotron jumbotron-fluid vertical-fluid">
      <div class="container" id="jumbotron-contents">
        <div class="row">
          <div class="col-md-8" id="description-container">
            <h1>Welcome to <span style="color: #1FC659;">ChatLingual</span></h1>
            <p>Communication shouldn't have barriers. ChatLingual translates messages in real-time and lets you talk to anyone anywhere.</p>
          </div>

          <div class="col-md-4" id="registration-container">
            <form id="registration-form" action="/room" method="get">
              <div>Create Room</div>
              <div class="form-group" id="nickname-input-form-group">
                <input class="form-control" name="nickname" type="text" id="nickname-input" maxlength="13" placeholder="Nickname">
              </div>

              <div class="form-group" id="language-input-form-group">
                <select class="form-control" name="language" id="language-input">
                  <option value="" disabled selected>Language</option>
                  <option value="English">English</option>
                  <option value="Spanish">Spanish</option>
                  <option value="French">French</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary" id="create-chatroom-btn">Create</button>
              <div class="login-errors" class=""></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
      <span>Created by Vyshakh Kandamath using Node.js and <span class="glyphicon glyphicon-heart"></span>.</span>
    </div>
  </footer>


  </body>
</html>