@font-face {
    font-family: "Blenda";
    src: url(blenda.otf) format("opentype");
}

.navbar-default {
  margin-bottom: 0px;
  border: none;
  background-color: #FFFFFF;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-brand,
.navbar-brand:hover {
  width: 200px;
  text-align: center;
  margin: 0px;
  background-color: #23BAA0;
  font-family: "Blenda";
  font-size: 24px;
}



#sidebar {
  position: fixed;
  height: 100%;
  background-color: #35415A;
  width: 200px;
  padding: 10px;
  word-wrap: break-word;
  color: white;
}

#main-content {
  position: fixed;
  margin-left: 200px;
  padding: 0px;
  background-color: #E9EDF2;
  height: calc(100vh - 90px);
  width: calc(100vw - 200px);
}

#enter-message-input-group {
  position: fixed;
  width: calc(100vw - 200px);
  bottom: 0;
  right: 0;
}

#enter-message {
  border: none;
}

#online-users {
  text-align: center;
}

#online-users ul {

  list-style-type: none;
  padding: 0;

}

#online-users ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#messages {
  padding: 25px;
  overflow-y: auto;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #sidebar {
    display: none;
  }
  #main-content {
    margin-left: 0;
    width: 100vw;
  }
  .input-group {
    width: 100%;
    left: 0;
    right: 0;
  }
}
